{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Nova senha</title>
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>

<body>

<header class="header-container">
  <h2>Repitilerecon</h2>
</header>

<main class="main-container">
  <div class="hero-content login-box">

    <h1>Nova senha</h1>
    <p class="login-subtext">Digite sua nova senha abaixo</p>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}  
      <button type="submit" class="btn-login">Salvar nova senha</button>
    </form>

  </div>
</main>

<footer class="footer-container">
  <div class="info">
    <div class="footer-text">
      <p>Universidade Federal de Ouro Preto</p>
      <p>Campus Morro do Cruzeiro, Ouro Preto - MG</p>
      <p>CEP: 35400-000</p>
    </div>
  </div>

  <div class="map-wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.628812383565!2d-43.5094052882453!3d-20.398188881019205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa40aebe1325343%3A0xb315027eb78b8de8!2sUniversidade%20Federal%20de%20Ouro%20Preto%20-%20UFOP!5e0!3m2!1spt-BR!2sbr!4v1762436158303!5m2!1spt-BR!2sbr"
      width="200"
      height="150"
      style="border:0; border-radius: 8px;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
  </div>
</footer>

</body>
</html>
